.btn_orange {
  background-color: $color-orange;
}
.btn_l-black {
  background-color: $color-light-black;
}

.bonim-list {
  padding-left: 15px;
  padding-right: 15px;

  .orders {

    @media (min-width: 480px) {
      & > p > span.delivery {
          width: 67px;
      }
    }

    @media (min-width: 530px) {
      & span.time, & span.delivery {
        display: inline-block;
      } 
    }

    &__details {
      display: flex;

      span {
        width: 73px;
        margin-left: 15px;
      }
    }

    &__management {
      .btn {
        height: 25px;
        margin-left: 25px;
       white-space: nowrap;
        
        @include _768 {
          display: block;
        }

        &:last-of-type {
          margin-left: 0;
        }
      }

      @include _768 {
        & .none {
          display: none;
        }
      }
    }
  }

  .search {
    .bonim__img {
      width: 20px;
      margin-left: 20px;
    }

    &__input {
      margin-right: 20px;
      width: 48%;
    }

    span {
      white-space: nowrap;
    }
  }

  .popup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    background-color: rgba(133, 202, 242, 0.77);
    &.active {
      display: flex;
    }

    &__content {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 20px 35px;
      border-radius: $base-border-radius;
      background-color: #4689D1;

      @include _480 {
        padding: 20px 20px 20px 50px;
      }

      @include _768 {
        max-width: 485px;
      }
    }
    
    &__icon-close {
      position: absolute;
      top: 10px;
      right: 10px;
    
      width: 15px;
      height: 15px;
    
      cursor: pointer;
    }

    &__btn {
      margin-top: 20px;
      text-align: left;

      button {
        background-color: initial;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
        color: #fff;
        font-size: 16px;
        margin: 0;
        align-self: flex-end;

        &:first-child {
          margin-left: 20px;
        }
      }
    }
  }

  .popup-bone-edit {

    &__input-wrap {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 20px;

      @include _480 {
        flex-direction: row;
        align-items: center;
      }
    }
    &__name {
      font-size: 16px;
      color: #fff;
      width: 90px;
      margin-left: 20px;
      margin-bottom: 10px;
      flex-shrink: 0;

      @include _480 {
        margin-bottom: 0;
      }
    }
    &__input {
      outline: none;
      border: 1px solid #fff;
      border-radius: $base-border-radius;
      background-color: initial;
      padding: 11px 5px;
      box-sizing: border-box;
      width: 100%;
    }
    &__details {
      display: flex;
      flex-direction: column;

      @include _480 {
        flex-direction: row;
      }

      &-item-wrap {
        border: 1px solid #fff;
        border-radius: $base-border-radius;
        padding: 10px;
        color: #fff;
        width: 100%;
      }

      &-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      &-title {
        font-size: 15px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
      }

      img {
        width: 15px;
      }
    }
  }

  .popup-bone-edit2 {
    .popup__content {
      padding: 30px 20px 20px 20px;
    }
  }

  .dropdown {
    margin-bottom: 10px;
    border-radius: 4px;
    background-color: #fff;
    min-height: 40px;
    
    @include _768 {
      margin-bottom: 20px;
    }

    &__item {
      padding: 10px;
      
    }

    &__header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: $base-text-color;

      &-img {
        width: 15px;
        height: 18px;
        background: url("../img/icons/right-arrow.svg") no-repeat center;
        background-size: cover;

        &.active {
          width: 20px;
          background-image: url("../img/icons/arrow-down.svg");
        }
      }
    }

    &__wrap-content {
      display: none;
      margin-top: 10px;
    }

    &__img {
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
    }

    .toltip__checkbox-col-2 {
      flex-basis: 48%;
    }

    .toltip__checkbox {
      appearance: none;
      outline: none;
      width: 22px;
      height: 22px;
      background: #4F98CF url("../img/icons/check.svg") no-repeat center center;
      background-size: 14px;
      border-radius: 0 2px 2px 0;
      margin: 0;

      &:checked {
        background: #4F98CF
      }
    }

    .toltip__checkbox-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    
    
    .toltip__checkbox-text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 90%;
      background-color: #11263C;
      color: #fff;
      height: 22px;
      font-size: 12px;
      line-height: 11px;
      padding: 5px 3px 5px 3px;
      border-radius: 2px 0 0 2px;
    }
  }

  .jq-selectbox {

    &.focused .jq-selectbox__select {
      border: none;
      margin: 0;
    }

      &.jqselect.dropdown.opened {
        background-color: initial;

        .jq-selectbox__trigger-arrow {
          position: static;
          border: none;
          width: 10px;
          height: 18px;
          background: url("../img/arrow-down.svg") no-repeat center;
          background-size: contain;
        }
      }
      &.jqselect.focused {
        border: none;
      }
      
      &__select {
        padding: 0;
        border: none;
        border-radius: 4px;
        background: initial;
        height: auto;
        display: flex;
        align-items: center;
        box-shadow: none;

        &-text {
          padding: 0 5px;
          font-size: 13px;
          line-height: 13px;
          color: $color-light-black;
        }
      }

      &__trigger {
        position: static;
        border: none;
        width: 10px;

        &-arrow {
          position: static;
          border: none;
          width: 10px;
          height: 18px;
          background: url("../img/right-arrow.svg") no-repeat center;
          background-size: contain;

          &:focus, &:active {
            background: none;
          }
        }
      }

      &__dropdown {
        position: absolute;
        border: 1px solid $color-gray;
        margin-top: 0;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 0;
        min-height: 0;

        li {
          color: $color-light-black;
          &:hover {
            background-color: initial;
            color: $color-light-black;
          }
        }

        li.selected {
          background-color: initial;
        }
      }
    }

    & .dropdown {
      margin-bottom: 0;
      min-height: auto;
    }
}