$base-text-color:#11263C;
$base-bg-color:#fff;
$base-font-family: "Rubik";
$medium-ff: "Rubik-medium";
$bold-ff: "Rubik-bold";
$base-font-weight: 400;
$base-border-radius: 4px;

$color-placeholder: #587491;
$color-white: #fff;
$color-black: #1C1C1C;
$color-light-black: #11263C;
$color-gray: #707070;
$color-blue: #357ECD;
$color-light-blue: #4F98CF;
$color-orange: #F35C01;
$color-mustard: #C5933C;

$text-green: #5AD442;
$text-red: #D44242;

$body-bg-color:#D3ECFF;
$white-text-color:#fff;

$font-size-h3: 18px;
$font-weight-h3: 500;

$base-color-btn:#F35C01;
$hover-color-btn:#A73F00;
$pressed-color-btn:#762D00;
$disabled-color-btn:#997661;

$default-transition: all 0.2s linear;